nav {
    z-index: 100;
    position: fixed;
    background-color: transparent;
    color: white;
    animation: nav-load 300ms ease-in;
    top: 3.5vh;
    right: 1vw;
    /* width: fit-content; */
    font-size: clamp(1rem, 1rem+2.5vw, 3rem);
  }
  
  a:hover{ 
    color: white;
  }
  
  @keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }
  
    100% {
        transform: translateY(0);
    }
  }
  
  nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    list-style: none;
    /* padding: 1em; */
    margin: 0 1em;
    animation-name: nav-link-load;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    transform: scale(0);
  }
  
  @keyframes nav-link-load {
    0% {
        transform: scale(0);
    }
  
    90% {
        transform: scale(1.1);
    }
  
    100% {
        transform: scale(0.6);
    }
  }
  
  nav li:hover {
    background-color: #ffffff44;
  }
  
  nav a {
    color: inherit;
    text-decoration: none;
  }
  