.App {
  text-align: center;
}


body {
  /* margin: 0; */
  display: flexbox;
  /* min-height: 600vh; */
  /* place-content: center;
  align-content: center;
  text-align: center; */
  overflow: hidden;
  background-color: #00887a44;
  animation: name 20s infinite forwards;
}

@keyframes name {
    0%, 100% {background-color:rgb(43, 142, 164);}
    50% {background-color:rgb(80, 11, 123);}
    90% {background-color:rgb(90, 26, 213);}
}

.main {
 width: 100%;
 height: 200vh;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-wrapper {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #000;
  /* width: 400px;
  height: 200px; */
  position: absolute;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  position: absolute;
  max-width: 60vw;
  /* width: 50vw; */
  top: 530px;

  text-align: left;
}

.header{
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

/* #myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

/* video {
  position: relative;
  display: flex;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
